<% extend('layout') %>
  <article>

    <% if( topic ){ %>
          <h2><%= topic.title %></h2>
          <%= topic.description %>
          <div>By <%= topic.author %></div>
    <% } else { %>
          <h2>Welcome!</h2>
          This is the Sever Side Javascript Tutorial.
    <% } %>

  </article>
  <ul>
    <li><a href="/topic/add">Add</a></li>

    <% if( topic ){ %>
      <li><a href="/topic/<%= topic.id %>/edit">Edit</a></li>
      <li><a href="/topic/<%= topic.id %>/delete">Delete</a></li>
      <li><a href="/topic">Go to list</a></li>
    <% } %>

  </ul>
